.Header {
  background-color: black;
}
.Header .navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.Header .navLink {
  text-decoration: none;
  color: cornsilk;
  font-size: 1.5em;
  line-height: 1em;
  padding: 6px;
  margin: 10px;
  border-radius: 4px;
}
.Header .navLink:hover {
  background-color: #161571;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 32;
}
.material-symbols-outlined:hover {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 200, "opsz" 32;
  cursor: pointer;
}

#LoginImage {
  height: 40px;
  background-image: url("https://i.imgur.com/XqQZQZL.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 800px) {
}
