.MovieObject {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #701614;
  margin: 4px;
  padding: 12px;
  border: solid #b8905a 4px;
  border-radius: 4px;
  padding: 15px;
  width: 225px;
  height: 100%;
}
.MovieObject p {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  max-width: 225px;
}
.MovieObject .title {
  font-family: "Limelight";
  font-size: 16px;
  margin: 4px;
}
.MovieObject img {
  margin-top: auto;
  width: 225px;
}
.MovieObject img:hover {
  cursor: pointer;
}
